.main-page
  &__title
    margin: 0
    padding: 78px 0 240px
    font-size: 132px
    color: #fff
    text-transform: uppercase
    letter-spacing: 5.28px
    font-weight: 400

  &__text-field
    input
      border: none
      padding: 36px 0 36px 60px
      margin: 0
      background-color: #7e57c2
      box-sizing: border-box
      width: 572px
      height: 100px
      border-radius: 20px

      color: #cfd8dc
      font-family: 'Montserrat'
      font-size: 29px
      font-weight: 400
      text-transform: uppercase

      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35)

      &::placeholder
        color: #cfd8dc




